/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand-dark: #819b57;
  --color-brand-light: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf7ea;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
address {
  font-style: normal;
}
/* End of the base */

/* Hero section */
.hero-title {
  font-size: 128px;
  font-weight: 900;
  color: #faf7ea;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand-light);
}
/* End of the hero section */

/* Button styles */
.button {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* End of the Button styles */

/* links */
.link {
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}
/* end of the links */

/* Advantages list */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
/* End of the advantages list */

.section-title .accent {
  color: var(--color-brand-light);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/* Traditions section */

.traditions-text .brand {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
/* End of the tradition section */

/* Chefs section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
}
/* End of the chefs section */

/* Formats section */
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
/* footer */
.address-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-primary-dark);
}
.address-coppyright {
  font-size: 14px;
  font-weight: 400;
}
