:root {
    --color-brand-dark: #819B57;
    --color-brand-light: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #faf7ea;
}

.hero-title {
    font-weight: 900;
    font-style: black;
    font-size: 128px;
    font-family: Poppins, sans-serif;
    color: #faf7ea;
}

.hero-title .accent {
    color: var(--color-brand-light);
}
/* Base */
body {
    color: var(--color-primary-dark);
}
ul {
    list-style-type: none;
}

.button {
 background-color: var(--color-brand-light);
 color: var(--color-primary-light);
border: 2px solid var(--color-brand-light);
border-radius: 8px;
cursor: pointer;
padding: 16px 32px;
width: 238px;
height: 59px;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}
.link {
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.link:hover {
    color: var(--color-brand-light);
}

.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
}
.section-title .accent {
    color: var(--color-brand-light);
}