/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand-dark: #819b57;
  --color-brand-light: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf7ea;
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}
address {
  font-style: normal;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* End of the base */

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex; 
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}

/* Hero section */
.hero-title {
  font-size: 128px;
  font-weight: 900;
  color: #faf7ea;
  text-align: center;
  margin-bottom: 0; 
}

.hero-title .accent {
  color: var(--color-brand-light);
}

.hero-section {
  padding: 272px 0;
}

/* End of the hero section */

/* Button styles */
.button {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* End of the Button styles */

/* links */
.link {
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
}
/* end of the links */

/* Advantages list */
.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}
/* End of the advantages list */

.section-title .accent {
  color: var(--color-brand-light);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/* Traditions section */

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text.limited {
  max-width: 335px;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-title {
  margin-bottom: 42px;
}
/* End of the tradition section */

/* Chefs section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-title {
  margin-bottom: 80px;
}
/* End of the chefs section */

/* Formats section */
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-card {
  border: 1px solid grey; /* remove */
  border-radius: 16px;
  padding: 24px;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  
}

.formats-title {
  margin-bottom: 80px;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* End of the formats section */

/* Contact section */
.contact-title {
  margin-bottom: 16px;
}
/* footer */
.address-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-primary-dark);
}
.address-coppyright {
  font-size: 14px;
  font-weight: 400;
}
