*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-primary-light);
}
.section {
  padding: 48px 0;
}
img {
  display: block;
  height: auto;
object-fit: cover;
  }

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}
address {
  font-style: normal;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
}
@media screen and (min-width: $bp-tablet) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
    
  }
