@import './utils/fonts';

@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';

@import './components/links';

@import './utils/mixins';

@import './layouts/header';

@import './layouts/hero-section';

@import './layouts/advantage-section';

@import './layouts/section';

@import './layouts/tradition-section';

@import './utils/texts';

@import './components/chef-card';
@import './layouts/chefs-section';
@import './components/pagination';

@import './layouts/mobile-menu';
@import './components/format-card';

@import './components/carousel';
@import './layouts/formats-section';
@import './layouts/contact-section';

@import './layouts/footer';
@import './components/form-terms';

@import './layouts/modal';
@import './layouts/input';
