.button {
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  font-weight: 600;
  
  &:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
}

