.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  &__photo {
    border-radius: 2px 2px 2px 116px;
    box-shadow: -10px 10px 0 0 var(--color-primary-light),
      -10px 10px 0 2px var(--color-secondary-dark);
      width: 140px;
  }
  &__text {
    font-size: 14px;
    margin-bottom: 24px;
    width: 162px;
    &:last-child {
      margin-bottom: 0;
      
    }
  }

  &__title {
   font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  @media screen and (min-width: $bp-desktop) {
    & {
       gap: 30px;
    }
    &__title {
       font-size: 40px;
    }
    &__photo {
      border-radius: 4px 4px 4px 201px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
      width: 240px;
    }
  }
  &__text {
    font-size: 18px;
  }
}
