.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  padding: 24px;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.3s, background-image 0.3s;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  &__text {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
  }
}
