.header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 16px;

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }
  &__menu,
  &__button {
    display: none;
  }
  &__burger {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-primary-light);
  }
  @media screen and (min-width: $bp-desktop) {
    & {
      padding-top: 32px;
    }
    &__menu {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 64px;
    }
    &__burger {
      display: none;
    }
    &__button {
      display: block;
    }
  }
}
