.section {
  padding: 20px 0;

  &__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
  }
  &__title {
    &--centered {
      text-align: center;
    }
  }
  @media screen and (min-width: $bp-tablet) {
    & {
      padding: 48px 0;
    }
    &__title {
      font-size: 64px;
    }
  }
}
